SIGNOZ_MCP_URL=https://signozmcp.hoydev.kr/mcp
SIGNOZ_API_KEY=
LLM_BASE_URL=https://llm-big.hoydev.kr/v1
LLM_MODEL=qwen
LLM_API_KEY=
KUBE_CONTEXT=kubernetes-admin@kubernetes
KUBE_NAMESPACES=signoz,ai
LLM_CHAT_TEMPLATE_KWARGS={"enable_thinking":false}
